 #map {
  position: relative;
  padding: 0;
  margin: 0;
  height: 500px;
  width: 100vw;
}

#search {
  display: block;
  position: relative;
  top: 55px;
  z-index: 2;
  left: 70px;
}
@media query {

}
